html {
  overflow: scroll;
}
body {
  overflow: scroll;
}

:root {
  --main-size: 70vw;
}
h1 {
  font-size: 16px;
}
.header-nav {
  font-size: 16px;
}

.half > .coat {
  transform: rotate(90deg);
}

.coat-wrapper {
  flex-direction: column;
}
